/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header
{
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 100px;
    z-index: 900;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    position: fixed;
    background: #000000;
    align-items: center;
}
header .logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
header #toggle
{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
header #toggle::before
{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2.5px;
    background: #fff;
}
header #toggle::after
{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}
.banner.active header #toggle::before
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
}
.banner.active header #toggle::after
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: url(../Img/bg.jpg);
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 3;
}
#navigation
{
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background: #40c3ff;
    z-index: 1;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 4;
}
#navigation.active
{
    right: 0;
}
#navigation ul
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
#navigation ul li
{
    list-style: none;
}
#navigation ul li a
{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}
.content
{
    max-width: 600px;
}
.content h2
{
    color: #fff;
    font-size: 2.5em;
}
.content h2 span
{
    color: #40c3ff;
    font-size: 1.2em;
    position: relative;
}
@media (min-width: 767px)
{
    .content h2 span::before {  
        -webkit-transform: scaleX(0);  
            -ms-transform: scaleX(0);  
                transform: scaleX(0);
        -webkit-transform-origin: bottom right;
            -ms-transform-origin: bottom right;
                transform-origin: bottom right;
      }
      
      .content h2 span:hover::before {
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transform-origin: bottom left;
            -ms-transform-origin: bottom left;
                transform-origin: bottom left;
      }
      
      .content h2 span::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        inset: 0 0 0 0;
        background: #0e7bad;
        z-index: -1;
        -webkit-transition: -webkit-transform .3s ease;
        transition: -webkit-transform .3s ease;
        -o-transition: transform .3s ease;
        transition: transform .3s ease;
        transition: transform .3s ease, -webkit-transform .3s ease;
      }
}
.content p
{
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
}
.content a
{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: #fff;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    transition: 0.5s;
}
.content a:hover
{
    transform: skew(-10deg);
}
.sci
{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 100px;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    position: relative;
    display: -ms-grid;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #fff;
    margin: 10px 0 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.sci li a:hover
{
    background: #fff;
}
.sci li a img
{
    max-width: 20px;
    -webkit-filter: invert(1);
            filter: invert(1);
    mix-blend-mode: difference;
}
.about
{
    min-height: 100vh;
    width: 100%;
    padding: 100px;
}
.about h1
{
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    color: #5fccff;
}
.about .textBx
{
    max-width: 600px;
    float: left;
    margin: 30px 0 0 0;
}
.about .textBx p
{
    padding: 0 0 50px;
}
.about .imgBx
{
    max-width: 600px;
    height: auto;
    float: right;
    margin: 30px 0 0 0;
}
.about .imgBx img
{
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar{
    width: 0;
}
@media (max-width: 1440px)
{
    .about
    {
        padding: 50px;
    }
    .about .textBx
    {
        max-width: 100%;
    }
    .about .imgBx
    {
        max-width: 100%;
    }
}
@media (max-width: 767px)
{
    header
    {
        padding: 20px 50px;
    }
    .banner
    {
        padding: 100px 50px 150px;
    }
    .banner h2
    {
        font-size: 1.8em;
    }
    .banner .content p,
    .banner .content a
    {
        font-size: 1em;
    }
    #navigation
    {
        width: 250px;
    }
    #navigation ul li a
    {
        font-size: 1.5em;
        margin: 5px 0;
    }
    .sci
    {
        position: absolute;
        bottom: 50px;
        right: initial;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .sci li a
    {
        margin: initial;
        margin-right: 10px;
    }
    .about
    {
        padding: 20px;
    }
}